* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background: rgb(19, 19, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  position: relative;
}

.main img{
  width: 40%;
  margin-bottom: 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.details-div{
  width: 40%;
}
.details-div button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
}

.details-div h1{
margin-bottom: 2rem;
font-size: 2.5rem;
}
.details-div p{
margin-bottom: 2rem;
line-height: 2rem;
font-size: 1.3rem;
}

.video-parent{
  position: absolute;
  background: rgba(30, 31, 30, 0.893);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.video-parent video{
    width: 80%;
}
.video-parent span{
  right:5%;
  top:5%;
  transform: translate(-50%,-50%);
  position: fixed;
  background-color: white;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}