* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background: rgb(255, 251, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
}
#left_div{
  width: 50%;
  height: 100%;
  background: rgb(246, 127, 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#right_div{
  width: 50%;
  height: 100%;
  background: rgb(176 168 155);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#right_div > div,
#left_div > div{
 width: 100%;
 background: rgba(215, 214, 214, 0.517);
 height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#right_div > div > p,
#left_div > div > p{
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#iPhoneImage{
  width: 50%;
}#samSungImage{
  width:60%;
}
#right_div button,
#left_div button{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  padding: 1rem 2rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

#right_div button:hover,
#left_div button:hover{
  background:rgb(72, 72, 72);
  scale:1.1;
  transition: 0.4s ease-in;
}